{% extends 'base.html' %}

{% block title_header %}
Crear Blog - Entrega Final
{% endblock title_header %}

{% block h1_header %}
Crear Blog
{% endblock h1_header %}

{% block contenido %}

<form action={% url 'inicio:crear_blog_CBV' %} method="post", enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
    {{form}}
    {{form.media}}
    </table>
    <button>Crear</button>
    <button><a class="navbar-brand" href={% url 'inicio:listar_blogs_CBV'%}>Atrás</a></button>
</form>
{% endblock contenido %}