{% extends 'base.html' %}

{% block title_header %}
Blogs - Entrega Final
{% endblock title_header %}

{% block h1_header %}
Blog {{blog.titulo}} de {{blog.autor}}
{% endblock h1_header %}

{% block contenido %}

<li>Título: {{blog.titulo}}</li>
<li>Subtítulo: {{blog.subtitulo}}</li>
<li>Autor: {{blog.autor}}</li>
<li>Fecha de Publicación: {{blog.fecha_publicacion}}</li>
<li>Desarrollo: {{blog.cuerpo | safe}}</li>
{% if blog.imagen %}
<li><img src="{{blog.imagen.url }}" alt="Imagen del blog"></li>
{% endif %}

<button><a class="navbar-brand" href={% url 'inicio:listar_blogs_CBV'%}>Atrás</a></button>
{% endblock contenido %}