{% extends 'base.html' %}

{% block title_header %}
Eliminar Acción - Entrega Final
{% endblock title_header %}

{% block h1_header %}
Eliminar Bono {{accion.ticker}} de {{accion.descripcion}}
{% endblock h1_header %}

{% block contenido %}

<form action={% url 'inicio:eliminar_accion' accion.id%} method="post">
    {% csrf_token %}
<p>¿Está seguro/a de eliminar {{accion.ticker}} de {{accion.descripcion}}?</p>
    <button>Confirmar</button>
    <button><a class="navbar-brand" href={% url 'inicio:listar_especies'%}>Atrás</a></button>
</form>
{% endblock contenido %}