{% extends 'base.html' %}

{% block title_header %}
Modificar IC - Blog - Entrega Final
{% endblock title_header %}

{% block h1_header %}
Modificar IC - Blog {{blog.titulo}} de {{blog.autor}}
{% endblock h1_header %}

{% block contenido %}

<form action={% url 'inicio:modificar_blog' blog.id%} method="post">
    {% csrf_token %}
    <table>
    {{form}}
    </table>
    <button>Modificar</button>
    <button><a class="navbar-brand" href={% url 'inicio:listar_blogs_CBV'%}>Atrás</a></button>
</form>
{% endblock contenido %}