{% extends 'base.html' %}

{% block title_header %}
Modificar Acción - Entrega Final
{% endblock title_header %}

{% block h1_header %}
Modificar Acción {{accion.ticker}} de {{accion.descripcion}}
{% endblock h1_header %}

{% block contenido %}

<form action={% url 'inicio:modificar_accion' accion.id%} method="post">
    {% csrf_token %}
    <table>
    {{form}}
    </table>
    <button>Modificar</button>
    <button><a class="navbar-brand" href={% url 'inicio:listar_especies'%}>Atrás</a></button>
</form>
{% endblock contenido %}