{% extends 'base.html' %}

{% block title_header %}
Acerca de mí - Entrega Final
{% endblock title_header %}

{% block h1_header %}
Acerca de mi - Entrega Final
{% endblock h1_header %}

{% block contenido %}
<p>Mi nombre es Nahuel Cuello López, tengo 31 años y soy de Buenos Aires - Argentina.</p>
<p>Soy graduado en administración en UBA y Magister en Finanzas de la Universidad Di Tella.</p>
<p>Actualmente trabajo como Porfolio Manager para Mariva Asset Management, gestionando los FCIs Money Markets.</p>
<p>Busco con el actual curso de Python poder tener herramientas que me puedan complementar en mis tareas diarias optimizando procesos y tareas rutinarios.</p>
{% endblock contenido %}